body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

#menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#multiplayer-menu, #game-container {
    display: none; /* Hidden by default */
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
}

#game-container {
    margin-top: 20px;
    display: none; /* Hidden by default */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

#word-history {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}

#word-input {
    width: calc(100% - 80px);
    padding: 10px;
    box-sizing: border-box;
}

#submit-word {
    padding: 10px;
    cursor: pointer;
    width: 70px;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {
    #menu, #multiplayer-menu {
        flex-direction: row;
    }
}
